@import "tailwindcss";

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-caveat: "Caveat", cursive;
  --font-arimo: "Arimo", sans-serif;
}

@theme {
  --color-primary: #1a8fe3;
  --color-secondary: #ff7b4a;
  --color-codeWhite: #fbfcf8;
  --color-codeBlack: #000000;
}

body {
  background-color: #53cbf3;
  font-family: var(--font-roboto);
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.font-caveat {
  font-family: var(--font-caveat);
}

.font-arimo {
  font-family: var(--font-arimo);
}
